<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <clientscripts>
      <htmleditor>
        <script src="/Sitecore/Shell/Controls/Rich Text Editor/Code Snippet/CodeSnippetCommand.js" language="JavaScript"/>
        <script src="/Sitecore/Shell/Controls/Rich Text Editor/Code Snippet/GooglePrettify.js" language="JavaScript"/>
      </htmleditor>
    </clientscripts>
    <settings>
      <setting name="WebStylesheet">
        <patch:attribute name="value">/Sitecore/Shell/Controls/Rich Text Editor/Code Snippet/Rte.css</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>